name: Lint and Format

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ruff
        run: pipx install ruff

      - uses: reviewdog/action-setup@v1

      - name: Run Ruff Linter
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ruff check --exit-zero --output-format=rdjson | reviewdog -f=rdjson -name="ruff-check" -reporter=github-pr-review -filter-mode=added -fail-level=any

      - name: Run Ruff Formatter
        if: always()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: (ruff format --diff 2>/dev/null || true) | reviewdog -f=diff -f.diff.strip=0 -name="ruff-format" -reporter=github-pr-review -filter-mode=added -fail-level=any
